@import "theme";

#style-toggle-checkbox {
	display: none;
}
  
#style-toggle {
	$width: 50px;
	$height: 20px;
	$gap: 2px;

  position: absolute;
	z-index: 1000;
  top: 0;
  right: 0;
  padding: $height;
  
  .style-toggle-border {
    border: 1px solid;
    width: $width;
    height: $height;
    display: block;
    border-radius: $height;
    position: relative;
	}
    
  .style-toggle-indicator {
    width: $height - $gap * 2;
    height: $height - $gap * 2;
    border-radius: 50%;
    position: absolute;
    background-color: #1e1f26;
    top: $gap;
    left: $gap;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    
    &::after {
      content: '';
      width: $height - $gap * 4;
      height: $height - $gap * 4;
      border-radius: 50%;
      position: absolute;
      bottom: - ($height - $gap * 4) / 12;
      right: ($height - $gap * 4) / 2;
      background-color: #000;
		}
	}
}

#style-toggle-checkbox:not(:checked) + #style-toggle {
  .style-toggle-border {
		border-color: darken(dark("color"), 35%);
		background-color: white;
	}
}
	
#style-toggle-checkbox:checked + #style-toggle {
  .style-toggle-border {
    border-color: lighten(light("color"), 35%);
		background-color: black;
	}
  
  .style-toggle-indicator {
    background-color: white;
    left: calc( 50px - 18px );
    transform: rotate(180deg);
	}
}
